pygeogram/LICENSE
pygeogram/MANIFEST.in
pygeogram/pyproject.toml
pygeogram/README.md
pygeogram/conda.recipe
pygeogram/docs
pygeogram/pybind11
pygeogram/tests/test_basic.py
pygeogram/build
pygeogram/pygeogram.egg-info

data
.vscode/settings.json
