mesh_utils/LICENSE
mesh_utils/MANIFEST.in
mesh_utils/pyproject.toml
mesh_utils/README.md
mesh_utils/conda.recipe
mesh_utils/docs
mesh_utils/pybind11
mesh_utils/tests/test_basic.py
mesh_utils/build
mesh_utils/mesh_utils.egg-info
